
{{#if logged_in}} <div class="post_by">
  {{#if isEdit}}
  <a type="button" href="/editBlog/{{blog.id}}" class="btn bgcolor_2 text-light m-2" >
<i class="bi bi-pencil-fill"></i> Edit Blog
</a><button data-id="{{{blog.id}}}" id="btndelete" class="btn bgcolor_2 text-light m-2"><i class="bi bi-trash3-fill"></i> Delete Blog</button>  


{{/if}}
<a type="button" href="/addcomment/{{blog.id}}" class="btn bgcolor_2 text-light" >
 <i class="bi bi-plus-circle-fill"></i> New Comment
</a></div> {{/if}}
<div class="card mb-3">
  <h5 class="card-header bgcolor_3 text-light">{{blog.title}} </h5>
  <footer class="blockquote-footer post_by"><cite title="Source Title">Post by
      {{blog.user.name}}
      on
      {{format_date blog.createdAt}}</cite>
  </footer>
  <div class="card-body">

    <p class="card-text">{{blog.content}}</p>

  </div>
</div>

<div class="card">
  <div class="card-header">
    Comments 
  </div>

  {{#each blog.comments as |comment|}}
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p> {{comment.comment_content}}</p>
         {{#if (IsEdual comment.created_by ../auserid) }}
        <div class="post_by"><a href="/comment/{{{comment.id}}}" class="text-light"><i class=" bi bi-pencil-fill bgcolor_2 p-2 m-2"></i></a><a class=" text-light" id="deletecomment" type="button"><i data-id="{{{comment.id}}}" class=" bi bi-trash3-fill bgcolor_2 p-2"></i></a></div>

{{/if}}
        <footer class="blockquote-footer">
          Comment by
          <cite title="Source Title">{{comment.user.name}} </cite></footer>
      </blockquote>
    </div>

  {{/each}}

</div>
  <script src="../js/deleteBlog.js"></script> 