<div class="card mb-3">
  <h5 class="card-header bgcolor_2 text-light">{{blog.title}} </h5>
  <footer class="blockquote-footer post_by"><cite title="Source Title">Post by
      {{blog.user.name}}
      on
      {{format_date blog.createdAt}}</cite>
  </footer>
  <div class="card-body">

    <p class="card-text">{{blog.content}}</p>

  </div>
</div>
{{#if logged_in}}<br> <div class="post_by"><a type="button" href="/addcomment/{{blog.id}}" class="btn bgcolor_1 text-light" >
 <i class="bi bi-plus-circle-fill"></i> New Comment
</a></div> {{/if}}
<div class="card">
  <div class="card-header">
    Comments 
  </div>

  {{#each blog.comments as |comment|}}
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p> {{comment.comment_content}}</p>
        <footer class="blockquote-footer">
          Comment by
          <cite title="Source Title">{{comment.user.name}} </cite></footer>
      </blockquote>
    </div>

  {{/each}}

</div>
